$curve: cubic-bezier(.19,1,.22,1);
//colors
$blue: #1C4098;
$lightBlue: #0BBBEF;
$darkBlue: #122A64;

$black: #000000;

//categories
$red: #DD0057;
$violet: #873299;
$yellow: #FFED00;
$green: #00AD68;
$darkGreen: #004E59;
$gray: #B4BFCA;
$navGray: #77889D;
$bgBody:#f7f9fa ;
$clear:#F8F9FA;
$dark:#D7DDE3;

//fonts
$font-sans: 'Proxima', sans-serif;