@import './variables.scss';
@import './util/swiper-bundle.min.scss';
@import './util/mixins.scss';
@import './util/breakpoints.scss';
@import './util/fonts.scss';
@import './util/nogl.scss';
@import './util/typography.scss';
@import './util/animations.scss';
@import './components/forms.scss';
@import './components/footer.scss';
@import './components/hero.scss';
@import './components/buttons.scss';
@import './components/breadcrumbs.scss';
@import './components/filters.scss';
@import './components/cards.scss';
@import './components/nav.scss';
@import './components/aside.scss';
@import './components/schudele.scss';
@import './components/speakers.scss';
@import './components/documents.scss';
@import './components/popup.scss';
@import './components/video-preview.scss';
@import './components/previous-events.scss';
@import './components/datepicker.scss';
@import './components/group-meeting.scss';
@import './components/animations.scss';
@import './components/scroll-up.scss';

// Reset
body, html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-sans;
  background-color: $bgBody;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}
input, select, textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  font-family: inherit;
  resize: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
	vertical-align: middle;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
*{
  font-smooth: almays;
  text-shadow: 0px 0px 1px transparent;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  // font-weight: 400;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  color: inherit;
  margin: 0;
  padding: 0;
  a{text-decoration: none !important;color: inherit;}
}
@-moz-document url-prefix() {
  body {
    font-weight: lighter !important;
  }
}
//common
main{min-height: 100vh;}
.container{
  @include container();
  position: relative;
}
.small-container{
  @include small-container();
}

section{position: relative;}