@keyframes a-arrow-button {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    30% {
        transform: translateX(120%);
        opacity: 1;
    }
    31% {
        transform: translateX(120%);
        opacity: 0;
    }
    32% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes pulse-button {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}