$breakpoints: (
  'mobile-extra-small': (max-width:  340px),          // 340
  'mobile-small': (max-width:  374px),                // 380
  'mobile': (max-width: 800px),                       // 480
  'mobile-medium': (max-width: 580px),                // 580
  'tablet-small': (max-width: 768px),                 // 768
  'tablet': (max-width: 840px),                       // 840
  'tablet-big': (max-width: 60.625em),                // 970
  'desktop': (max-width: 64em),                       // 1024
  'desktop-medium': (max-width: 80em),                // 1280
  'desktop-large': (max-width: 95em),                 // 1440
  'desktop-extra-large': (min-width: 96em)            // 1920
);

@mixin respond-to($name) {
  @if map-has-key($breakpoints,
  $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
}