@mixin importFont($fontname, $filename, $weight, $style: normal) {
  @font-face {
    font-family: $fontname; // IE9 Compat Modes
    font-display: swap;
    src: url('../../assets/fonts/#{$filename}.woff') format('woff'), // Safari, Android, iOS
    url('../../assets/fonts/#{$filename}.woff2') format('woff2'),
    url('../../assets/fonts/#{$filename}.ttf') format('truetype'); // Legacy iOS
    font-weight: $weight;
    font-style: $style;
  }
}
@mixin underline() {
  position: relative;
  &::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: 0% 0%;
    transition: transform 1s cubic-bezier(0.49, 0.23, 0, 1);
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
@mixin container () {
  width: calc(100% - 30px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@mixin small-container () {
  width: calc(100% - 30px);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
@mixin half-container () {
  width: calc(100% - 30px);
  max-width: calc(100% - (100% - 1200px) / 2);
  margin-left: auto;
}
@mixin fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
  &.show {
    opacity: 1;
  }
}
@mixin fade-in-y {
  opacity: 0;
  transition: opacity .5s ease-in;
  > * {
    transform: translateY(50%);
    transition: transform .5s cubic-bezier(0.26, 0.1, 0, 1);
  }
  &.show {
    opacity: 1;
    > * {
      transform: none;
    }
  }
}
@mixin safari {
  html[data-browser='safari'] & {
    @content;
  }
}
@mixin safari-mobile {
  html[data-browser='safari-mobile'] & {
    @content;
  }
}
@mixin edge {
  html[data-browser='edge'] & {
    @content;
  }
}
@mixin firefox {
  html[data-browser='firefox'] & {
    @content;
  }
}
@mixin ie {
  html[data-browser='ie'] & {
    @content;
  }
}
@mixin arabic {
  html[dir='rtl'] & {
    @content;
  }
}
@mixin spanish {
  html[lang='es'] & {
    @content;
  }
}
@mixin english {
  html[lang='en'] & {
    @content;
  }
}
@mixin hausa {
  html[lang='ha'] & {
    @content;
  }
}
@mixin somali {
  html[lang='so'] & {
    @content;
  }
}

@mixin can-blur {
  @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    @content;
  }
}
@mixin cant-blur {
  @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    @content;
  }
}

$rtl--selector-ltr: "[dir=ltr]" !default;
$rtl--selector-rtl: "[dir=rtl]" !default;

@mixin ltr() {
  @if $enable-rtl {
      #{$rtl--selector-ltr} & {
          @content;
      }
  } @else {
      @content;
  }
}

@mixin rtl() {
  @if $enable-rtl {
      #{$rtl--selector-rtl} & {
          @content;
      }
  }
}

@mixin prop-start($prop, $value) {
  @if $enable-rtl {
      @include ltr { #{$prop}-left: $value; }
      @include rtl { #{$prop}-right: $value; }
  } @else {
      #{$prop}-left: $value;
  }
}

@mixin prop-end($prop, $value) {
  @if $enable-rtl {
      @include ltr { #{$prop}-right: $value; }
      @include rtl { #{$prop}-left: $value; }
  } @else {
      #{$prop}-right: $value;
  }
}

@mixin prop-x($prop, $start: 0, $end: $start) {
  @if $start != $end {
      @if $enable-rtl {
          @include ltr { #{$prop}-left: $start; #{$prop}-right: $end; }
          @include rtl { #{$prop}-left: $end; #{$prop}-right: $start; }
      } @else {
          #{$prop}-left: $start; #{$prop}-right: $end;
      }
  } @else {
      #{$prop}-left: $start;
      #{$prop}-right: $start;
  }
}

@mixin padding-start($padding) {
  @include prop-start(padding, $padding);
}

@mixin padding-end($padding) {
  @include prop-end(padding, $padding);
}

@mixin margin-start($margin) {
  @include prop-start(margin, $margin);
}

@mixin margin-end($margin) {
  @include prop-end(margin, $margin);
}

@mixin position-start($position: 0, $y: false) {
  @if $enable-rtl {
      @include ltr { left: $position; }
      @include rtl { right: $position; }
  } @else {
      left: $position;
  }

  @if ($y != false) {
      @include position-y($y);
  }
}

@mixin position-end($position: 0, $y: false) {
  @if $enable-rtl {
      @include ltr { right: $position; }
      @include rtl { left: $position; }
  } @else {
      right: $position;
  }

  @if ($y != false) {
      @include position-y($y);
  }
}

@mixin text-align-start() {
  @if $enable-rtl {
      @include ltr { text-align: left; }
      @include rtl { text-align: right; }
  } @else {
      text-align: left;
  }
}

@mixin text-align-end() {
  @if $enable-rtl {
      @include ltr { text-align: right; }
      @include rtl { text-align: left; }
  } @else {
      text-align: right;
  }
}